.nav-lang {
  position: absolute;
  right: 0;
  font-size: calc(min(15vw, 60px)); }
  .nav-lang:hover .nav-lang__body {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
    opacity: 1; }
  .nav-lang__button {
    width: 1em;
    height: 1em;
    background: #4f6f2b;
    border: 1px solid #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .nav-lang__button__icon {
      width: 0.5em;
      height: 0.5em;
      background: url(../images/earth.svg) no-repeat 50% 50%;
      background-size: cover; }
  .nav-lang__body {
    transition: all 0.2s;
    -webkit-transform: translateY(0.2em);
            transform: translateY(0.2em);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 0.21667em;
    visibility: hidden;
    opacity: 0; }
  .nav-lang__list {
    position: relative; }
    .nav-lang__list:before {
      content: " ";
      width: 0.16667em;
      height: 0.16667em;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
      background: #fff; }
  .nav-lang__item {
    transition: all 0.2s;
    display: block;
    padding: 0.8em 0;
    text-align: center;
    text-decoration: none;
    font-size: 0.26667em;
    font-weight: 700;
    background: #4f6f2b;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    color: #fff; }
    .nav-lang__item:first-child {
      border-radius: 4px 4px 0 0;
      border-width: 1px 1px 0 1px; }
    .nav-lang__item:last-child {
      border-radius: 0 0 4px 4px;
      border-width: 0 1px 1px 1px; }
    .nav-lang__item.active, .nav-lang__item:hover {
      background: #fff;
      color: #4f6f2b; }
